body{
    margin: 20px;
}





.avatar {
    width: 150px;
    border: 3px solid transparent;
   transition: 0.3s;
  
} 

.card {

     width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #b5e08f;
    color: hsl(247, 4%, 41%);
    border-bottom: 6px solid #dcdbe0;
   
} 
.blue-dotted{
     border: 2px dotted blue;
}